body {
  background-color: black;
}
.post {
  background-color: white;
  width: 40%;
  height: auto;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.head {
  display: flex;
  align-items: center;
  padding: 1cap;
}
img {
  width: 100%;
  height: auto;
}
.botones {
  display: flex;
  width: 100%;
  padding-bottom: 1cap;
}
.cuerpo {
  padding: 1cap;
}
.head div,
.botones div {
  padding-left: 1cap;
}
.save,
.menu {
  margin-left: auto;
  margin-right: 1cap;
}
